.btn-file{
  position: relative;
  overflow: hidden;
  padding: 0.73em;
  background: #3FA9F5 !important;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
}

.photoList>li {
  width: 5.5em;
  height: 5em;
  padding-right: 11px;
  margin-bottom: -9px;
  background-color: #333333;
  display: inline-flex;
  color: #FFFFFF !important;
 }

 .photoList input {
  position: relative;
  border: solid transparent;
  border-width: 45px 0px 8px 43px;
  opacity: 0.0;
  filter: alpha(opacity=0);
  -o-transform: translate(250px, -50px) scale(1);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
  width: auto;
  height: 5em;
  left: -0.5em;
  margin: 0 !important;
}